<div class="kq-sidebar-label">Warehouse Console</div>
<ul class="nav flex-column">
    <li class="nav-item">
        <a class="nav-link" href="{% url 'inventory:confirm_fulfilment' %}">
            <span class="nav-icon"><i class="bi bi-box-seam"></i></span>
            Confirm Fulfilment
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'inventory:stock_levels' %}">
            <span class="nav-icon"><i class="bi bi-boxes"></i></span>
            Stock Levels
        </a>
    </li>
</ul>
